body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
}

#custom_form {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

th {
    padding: 10px;
    background: linear-gradient(white,lightgray);
    border-bottom: 2px solid black;
}

td {
    padding: 10px;
}

tr {
    border-left: 2px solid black;

}

tr:nth-child(even) {
    background-color: lightgrey;
}

tr:hover {
    background-color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #327b87;
}

ul::after {
    content: '';
    clear: both;
    display: block;
}

nav>ul>li {
    float: left;
    position: relative;
}

a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

a:hover {
    background: #627072;
}

a:hover .dropdown:hover {
    background: #627072;
}

.dropdown-content:nth-child(2){
    background: #627072;
    animation: menu_gfx 200ms forwards;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    background: #627072;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background: #384142;
}

@keyframes menu_gfx {
    0% {
        transform: rotateY(-90deg) translateY(30px);
    }
    100% {
        transform: rotateY(0deg) translateY(0px);
    }
}
