{% extends "base.html" %}
{% block content %}
    <body>
        <nav>
            <ul>
                <li class='dropdown'><a href="">Basic Queries</a>
                    <ul class='dropdown-content'>
                        {% for option in basic_menu_options %}
                            <li><a href="/queries/{{ option.query }}">{{ option.option_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class='dropdown'><a href="">Advanced Queries</a>
                    <ul class='dropdown-content'>
                        {% for option in adv_menu_options %}
                            <li><a href="/queries/{{ option.query }}">{{ option.option_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </body>
{% endblock %}